name: CD - Deploy

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["CI - Test & Lint"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event_name == 'push' || (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy with Docker Compose
        run: |
          docker compose down
          docker compose up -d --build
